
html {
  height:100%;
}

body {
  margin:0;
}


.bg {
  background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 1em;
}

/* Agregamos un Media Query para que sea responsiva */
@media (max-width: 1024px) {
  .container {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 480px) {
  .container {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}

.content {
  background-color: rgba(255, 255, 255, .8);
  border-radius: .25em;
  box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
  box-sizing: border-box;
  padding: 2rem; 
  text-align: center;
  overflow-y: auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

h1,h3, p {
  font-family:monospace;
}

p{
  font-size: small;
  text-overflow: ellipsis;
}

.card {
  background-color: azure;
  border-top: 6px solid #09f;
  border-radius: 8px;
  border-bottom-right-radius: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;            
  box-sizing: border-box; 
  margin: 0;              
  padding: 1.5rem;
}

.info {
  display: flex;
  flex-direction: column;
}

.avatar {
  display: flex;
  height: 120px;
  width: 120px;
  border-radius: 100%;
  font-size: xx-large;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  background-color: #6c3;
}